.loginPage
    {
    display: flex;
    height: 100vh;
    background-color: whitesmoke;
    .left{
        flex: 1;
        img{
            width: 450px;
        }
      
    }
    .right{
        flex: 1;
        display: flex;
        align-items: center;
    }
    
}


