.homePage{
    display: flex;
    height: 100vh;
    
    .left{
        flex: 1;
        // border: 1px solid black;
    
    }
    .right{
        flex: 4;
        // border: 1px solid green;
        overflow-y: scroll;
        display: flex;
        flex-direction: row;
        
       
    }   


}

