.myAccount{
    // border: 2px solid green;
    margin-top: 50px;
    margin-left: 100px;
    display: flex;
    justify-content: space-between;
    .profile{
        display: flex;
        align-items: center;
        .profileImage{
           img{
            height: 60px;
            border-radius: 50%;
            // border: 1px solid green;
           }
        }
        .profileName{
            margin-left: 10px;
            display: flex;
            flex-direction: column;
            span.username{
                font-weight: 450;
                margin-bottom: 5px;
                text-align: left;
                cursor: pointer;
            }
            span.fullname{
                font-weight: 400;
                font-size: 14px;
                
            }
        }
    }

    .switchBtn{
        display: flex;
        align-items: center;
        span{
            margin-right: 8px;
            font-size: 14px;
            font-weight: 500;
            cursor: pointer;

        }

    }
}


